# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# debug information files
*.dwo

# LaTeX build directory
docs/build/

# XC8 Temporary files (limpieza más agresiva para src/)
src/build/

# Datasheet (Opcional: déjalo si quieres que sea solo local)
12f675.pdf

# VideoEdit
VideoEdit/

# KiCad - Archivos temporales y de backup
hw/*.kicad_prl
hw/*.kicad_pcb-bak
hw/*.kicad_sch-bak
hw/*.bak
hw/_autosave-*
hw/fp-info-cache
hw/fp-lib-table
hw/sym-lib-table

# KiCad - Directorios de salida (opcional pero recomendado)
hw/plots/
hw/gerbers/

*.kicad_prl
*-backups/
fp-info-cache
